body {
  /*background: #fafafa;*/
}

.title {
  color: white;
  padding-left: 5%;
}

.keyword:hover {
  color: lightblue;
  font-weight: bolder;
}

.user {
  font-size: 11pt;
}

.name {
  font-weight: bolder;
}

.username {
  font-style: italic;
}

.active {

}

.inactive {
  opacity: .67;
}