{% extends "base.html" %}
{% block title %}Langgar Tweet Analyzer{% endblock %}
{% block content %}

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script type="text/javascript">
google.load('visualization', '1.0');
google.setOnLoadCallback(drawCurves);

function drawFreq() {
  $.get('/api/analyze/freq/{{encoded_keyword}}', function(r){
    var wrapper = new google.visualization.ChartWrapper({
      chartType: 'LineChart',
      dataTable: [['TIme', 'All Tweets', 'Positive Tweets', 'Negative Tweets']].concat(r.map(function(x){x[0] = new Date(x[0]); return x;})),
      options: options_freq,
      containerId: 'freq'
    });
    wrapper.draw();

    var positive = r.reduce(function(acc, curr){return acc + curr[2];}, 0);
    var negative = r.reduce(function(acc, curr){return acc + curr[3];}, 0);
    var wrapper = new google.visualization.ChartWrapper({
      chartType: 'PieChart',
      dataTable: [['Label', 'Number of Tweets'], ['Positive Tweets', positive], ['Negative Tweets', negative]],
      options: options_sentiment,
      containerId: 'sentiment'
    });
    wrapper.draw();
  }, 'JSON');
}


function drawTopMention() {
  $.get('/api/analyze/topmention/{{encoded_keyword}}', function(r){
    var wrapper = new google.visualization.ChartWrapper({
      chartType: 'BarChart',
      dataTable: [['Username', 'Number of Mention']].concat(r),
      options: options_topmention,
      containerId: 'topmention'
    });
    wrapper.draw();

    function showTweets() {
      w = wrapper;
      console.log("aye");
    }

    google.visualization.events.addListener(wrapper, 'select', showTweets);
  }, 'JSON');
}

function drawTopPosting() {
  $.get('/api/analyze/topposting/{{encoded_keyword}}', function(r){
    var wrapper = new google.visualization.ChartWrapper({
      chartType: 'BarChart',
      dataTable: [['Username', 'Number of Post']].concat(r),
      options: options_topposting,
      containerId: 'topposting'
    });
    wrapper.draw();
  }, 'JSON');
}

function getTopRetweets() {
  $.get('/api/analyze/topretweet/'+ $('#keyword').html(), function(r){
    angular.element('#analyzeController').scope().showTopRetweets(r);
    angular.element('#analyzeController').scope().$apply();
  }, 'JSON');
}

function drawCurves() {
  drawFreq();
  drawTopMention();
  drawTopPosting();
  getTopRetweets();
}
</script>


<div id="analyzeController" ng-controller="analyzeController">

  <nav class="top-bar" data-topbar>
    <span class="name text-center">
      <h1 class="title"><i class="fa fa-twitter fa-lg"></i> Tweet Analyzer of {{keyword}}</h1>
    </span>
  </nav>

  <hr>

  <div class="row">
    <div class="small-12 large-9 columns">
      <div id="freq" class="text-center"><h1><i class="fa fa-lg fa-line-chart fa-spin"></i></h1></div>
    </div>
    <div class="small-12 large-3 columns">
      <div id="sentiment" class="text-center"><h1><i class="fa fa-lg fa-pie-chart fa-spin"></i></h1></div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 columns">
      <div id="topmention" class="text-center"><h1><i class="fa fa-lg fa-bar-chart fa-spin"></i></h1></div>
    </div>
    <div class="small-12 large-6 columns">
      <div id="topposting" class="text-center"><h1><i class="fa fa-lg fa-bar-chart fa-spin"></i></h1></div>
    </div>
  </div>

  <div hidden id="keyword">{{encoded_keyword}}</div>
  {% raw %}
  <!-- <hr> -->

  <div class="row">
    <div class="columns small-12 large-6 topretweet">
      <div class="alert-box info radius text-center">Top Retweet <i ng-hide="hasretweets" class="fa fa-lg fa-cog fa-spin"></i></div>
      <!-- TOP TWEET -->
      <div class="row" ng-repeat="tweet in tweets">    
        <div class="columns small-2 th">
          <img ng-src="{{ tweet.retweeted_status.user.profile_image_url }}">
        </div>
        <div class="columns small-10">
          <div class="user">
            <span class="name" ng-bind-html="tweet.retweeted_status.user.name"></span>
            <a target="_blank" ng-href="http://twitter.com/{{ tweet.retweeted_status.user.screen_name }}" class="username" ng-bind-html="'@'+tweet.retweeted_status.user.screen_name"></a>
            <a target="_blank" ng-href="http://twitter.com/{{ tweet.retweeted_status.user.screen_name }}/status/{{ tweet.retweeted_status.id_str }}" class="count label secondary radius" ng-bind-html="tweet.retweeted_status.retweet_count+' retweets'"></a>
          </div>
          <div class="text">
            <p ng-bind-html="tweet.text"></p>
          </div>
        </div>
      </div>
      <!-- END OF TOP TWEET -->
    </div>

    <div class="columns small-12 large-6 topretweet">
      <div class="alert-box info radius" ng-show="hastweets">Tweets</div>
      <!-- TOP TWEET -->
      <div class="row" ng-repeat="tweet in []">
        <div class="columns small-2 th">
          <img ng-src="{{ tweet.retweeted_status.user.profile_image_url }}">
        </div>
        <div class="columns small-10">
          <div class="user">
            <span class="name" ng-bind-html="tweet.retweeted_status.user.name"></span>
            <a target="_blank" ng-href="http://twitter.com/{{ tweet.retweeted_status.user.screen_name }}" class="username" ng-bind-html="'@'+tweet.retweeted_status.user.screen_name"></a>
            <a target="_blank" ng-href="http://twitter.com/{{ tweet.retweeted_status.user.screen_name }}/status/{{ tweet.retweeted_status.id_str }}" class="count label secondary radius" ng-bind-html="tweet.retweeted_status.retweet_count+' retweets'"></a>
          </div>
          <div class="text">
            <p ng-bind-html="tweet.text"></p>
          </div>
        </div>
      </div>
      <!-- END OF TOP TWEET -->
    </div>
  </div>


  {% endraw %}

  <hr>

  <footer class="row">
    <div class="columns text-center">
      <p>Copyright <i class="fa fa-copyright"></i> <a href="http://langgar.co">langgar.co</a>.</p>
    </div>
  </footer>

</div>

{% endblock %}