{% extends "base.html" %}
{% block titlenav %}Tweet Analyzer of {{keyword}}{% endblock %}

{% block content %}

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script type="text/javascript">
google.load('visualization', '1.0');
google.setOnLoadCallback(drawCurves);

function drawFreq() {
  $.get('/api/analyze/freq/'+encodeURIComponent($('#keyword').text()), function(r){
    var wrapper = new google.visualization.ChartWrapper({
      chartType: 'LineChart',
      dataTable: [['TIme', 'All Tweets', 'Positive Tweets', 'Negative Tweets']].concat(r.map(function(x){x[0] = new Date(x[0]); x[0].setHours(x[0].getHours()); return x;})),
      options: options_freq,
      containerId: 'freq'
    });
    wrapper.draw();

    function showTweetsAt() {
      var s = wrapper.getChart().getSelection()[0];
      if (s !== undefined && s.row !== null && s.column !== null) {
        var t1 = new Date(wrapper.getDataTable().getValue(s.row, 0));
        var itv = wrapper.getDataTable().getValue(1, 0) - wrapper.getDataTable().getValue(0, 0);
        var t2 = new Date(t1.getTime() + itv);
        angular.element('#analyzeController').scope().fetchTweetsAt($('#keyword').text(), s.column, t1.toISOString(), t2.toISOString());
        angular.element('#analyzeController').scope().$apply();
        $('#tweets').foundation('reveal', 'open');
      }
    }
    google.visualization.events.addListener(wrapper, 'select', showTweetsAt);

    var positive = r.reduce(function(acc, curr){return acc + curr[2];}, 0);
    var negative = r.reduce(function(acc, curr){return acc + curr[3];}, 0);
    var wrapper2 = new google.visualization.ChartWrapper({
      chartType: 'PieChart',
      dataTable: [['Label', 'Number of Tweets'], ['Positive Tweets', positive], ['Negative Tweets', negative]],
      options: options_sentiment,
      containerId: 'sentiment'
    });
    wrapper2.draw();
  }, 'JSON');
}


function drawTopMention() {
  $.get('/api/analyze/topmentions/'+encodeURIComponent($('#keyword').text()), function(r){
    var wrapper = new google.visualization.ChartWrapper({
      chartType: 'BarChart',
      dataTable: [['Username', 'Number of Mention']].concat(r),
      options: options_topmention,
      containerId: 'topmention'
    });
    wrapper.draw();

    function showTweetsTo() {
      s = wrapper.getChart().getSelection()[0];
      if (s !== undefined && s.row !== null && s.column !== null) {
        u = wrapper.getDataTable().getValue(s.row, 0);
        angular.element('#analyzeController').scope().fetchTweetsTo($('#keyword').text(), u);
        angular.element('#analyzeController').scope().$apply();
        $('#tweets').foundation('reveal', 'open');
      }
    }
    google.visualization.events.addListener(wrapper, 'select', showTweetsTo);
  }, 'JSON');
}

function drawTopPosting() {
  $.get('/api/analyze/toppostings/'+encodeURIComponent($('#keyword').text()), function(r){
    var wrapper = new google.visualization.ChartWrapper({
      chartType: 'BarChart',
      dataTable: [['Username', 'Number of Post']].concat(r),
      options: options_topposting,
      containerId: 'topposting'
    });
    wrapper.draw();

    function showTweetsFrom() {
      s = wrapper.getChart().getSelection()[0];
      if (s !== undefined && s.row !== null && s.column !== null) {
        u = wrapper.getDataTable().getValue(s.row, 0);
        angular.element('#analyzeController').scope().fetchTweetsFrom($('#keyword').text(), u);
        angular.element('#analyzeController').scope().$apply();
        $('#tweets').foundation('reveal', 'open');
      }
    }
    google.visualization.events.addListener(wrapper, 'select', showTweetsFrom);
  }, 'JSON');
}

function drawCurves() {
  drawFreq();
  drawTopMention();
  drawTopPosting();
}
</script>


<div id="analyzeController" ng-controller="analyzeController">

  <div class="row">
    <div class="small-12 medium-9 columns">
      <div id="freq" class="text-center"><h1><i class="fa fa-lg fa-spinner fa-spin"></i></h1></div>
    </div>
    <div class="small-12 medium-3 columns">
      <div id="sentiment" class="text-center"><h1><i class="fa fa-lg fa-spinner fa-spin"></i></h1></div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <div id="topmention" class="text-center"><h1><i class="fa fa-lg fa-spinner fa-spin"></i></h1></div>
    </div>
    <div class="small-12 medium-6 columns">
      <div id="topposting" class="text-center"><h1><i class="fa fa-lg fa-spinner fa-spin"></i></h1></div>
    </div>
  </div>

  <div hidden id="keyword">{{keyword}}</div>
  {% raw %}
  <!-- <hr> -->

  <div class="row">
    <div class="columns small-12 medium-6">
      <div class="alert-box info radius text-center">
        <button ng-hide="loadtopretweets" class="label secondary radius" ng-click="showTopRetweets()">Top Retweets</button>
        <span ng-show="loadtopretweets">Top Retweet <i ng-hide="hasretweets" class="fa fa-lg fa-cog fa-spin"></i></span>
      </div>
      <!-- TOP TWEET -->
      <div class="row" ng-repeat="tweet in retweets">
        <div class="columns hide-for-small-only medium-2 th radius">
          <img ng-src="{{ tweet.user.profile_image_url }}">
        </div>
        <div class="columns small-12 medium-10">
          <div class="user">
            <span class="name" ng-bind-html="tweet.user.name"></span>
            <a target="_blank" ng-href="http://twitter.com/{{ tweet.user.screen_name }}" class="username" ng-bind-html="'@'+tweet.user.screen_name"></a>
            <a target="_blank" ng-href="http://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str }}" class="count label secondary radius" ng-bind-html="tweet.retweet_count+' retweets'"></a>
          </div>
          <div class="text">
            <p ng-bind-html="tweet.text"></p>
          </div>
        </div>
      </div>
      <!-- END OF TOP TWEET -->
    </div>

    <div class="columns small-12 medium-6">
      <div class="alert-box info radius text-center">
        <button ng-hide="loadrandomtweets" class="label secondary radius" ng-click="showRandomTweets()">Random Retweets</button>
        <span ng-show="loadrandomtweets">Random Tweets <i ng-hide="hasrandomtweets" class="fa fa-lg fa-cog fa-spin"></i></span>
      </div>
      <!-- JUST SOME RANDOM TWEETS -->
      <div class="row" ng-repeat="tweet in randomtweets">
        <div class="columns hide-for-small-only medium-2 th radius">
          <img ng-src="{{ tweet.user.profile_image_url }}">
        </div>
        <div class="columns small-12 medium-10">
          <div class="user">
            <span class="name" ng-bind-html="tweet.user.name"></span>
            <a target="_blank" ng-href="http://twitter.com/{{ tweet.user.screen_name }}" class="username" ng-bind-html="'@'+tweet.user.screen_name"></a>
            <a target="_blank" ng-href="http://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str }}" class="count label secondary radius" ng-bind-html="tweet.retweet_count+' retweets'"></a>
          </div>
          <div class="text">
            <p ng-bind-html="tweet.text"></p>
          </div>
        </div>
      </div>
      <!-- END OF JUST SOME RANDOM TWEETS -->
    </div>
  </div>

  <div class="row">
    <div class="small-12 text-center">
      <a ng-href="/download/all/{{keyword}}/all-tweets-{{keyword}}.csv" class="button small" target="_blank">Download All Tweets</a>
    </div>
  </div>

<!-- <div class="columns small-12 medium-6" id="tweets"> -->
<div id="tweets" class="reveal-modal row" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="column small-12 medium-12">
    <div class="row">
      <div class="column small-11 medium-11">      
        <div class="alert-box info radius">
          <span>Tweets</span>
          <i ng-hide="hastweets" class="fa fa-lg fa-cog fa-spin"></i>
          <a class="label secondary radius right" ng-href="{{ downloadlink }}" download>
            <i ng-show="hastweets" class="fa fa-lg fa-cloud-download"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- TWEETS -->
    <div class="row" ng-repeat="tweet in tweets">
      <div class="columns hide-for-small-only medium-1">
        <div class="th radius"> <img ng-src="{{ tweet.user.profile_image_url }}"> </div>
      </div>
      <div class="columns small-12 medium-11">
        <div class="user row">
          <span class="name" ng-bind-html="tweet.user.name"></span>
          <a target="_blank" ng-href="http://twitter.com/{{ tweet.user.screen_name }}" class="username" ng-bind-html="'@'+tweet.user.screen_name"></a>
          <a target="_blank" ng-href="http://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str }}" class="count label secondary radius" ng-bind-html="tweet.retweet_count+' retweets'"></a>
        </div>
        <div class="text row">
          <p ng-bind-html="tweet.text"></p>
        </div>
      </div>
    </div>
    <!-- END OF TWEETS -->
  </div>
  <a class="close-reveal-modal" style="font-size:20pt" aria-label="Close">&#215;</a>
</div>

  {% endraw %}

</div>

{% endblock %}