{% extends "base.html" %}
{% block title %}Langgar Tweet Analyzer{% endblock %}
{% block content %}

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load('visualization', '1.1', {packages: ['corechart', 'line']});
google.setOnLoadCallback(drawCurveTypes);

function drawCurveTypes() {
      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'Date');
      data.addColumn('number', 'All Tweets');

      {% autoescape false %}
      table = {{ data }};
      data.addRows( table.map(function(x){
        x[0] = new Date(x[0]);
        return x;
      }) );
      {% endautoescape %}

      var options = {
        hAxis: {
          title: 'Date',
        },
        vAxis: {
          title: 'Number of Tweets',
        },
        series: {
          // 0: {curveType: 'function'},
        },
        legend: {
          position: 'bottom'
        },
      };

      var chart = new google.visualization.LineChart(document.getElementById('linechart'));
      chart.draw(data, options);
    }
</script>


<div>

  <nav class="top-bar" data-topbar>
    <span class="name text-center">
      <h1 class="title"><i class="fa fa-twitter fa-lg"></i> Tweet Analyzer of {{keyword}}</h1>
    </span>
  </nav>

  <hr>

  <div id="linechart" class="row">
    <div class="small-12 large-12 columns"></div>
  </div>

  <hr>

  <footer class="row">
    <div class="columns text-center">
      <p>Copyright <i class="fa fa-copyright"></i> <a href="http://langgar.co">langgar.co</a>.</p>
    </div>
  </footer>

</div>

{% endblock %}