{% extends "base.html" %}
{% block titlenav %}Langgar Tweet Learning{% endblock %}

{% block content %}


<div ng-controller="classifiedController">

  {% raw %}

  <div class="row">
    <div class="columns small-12 medium-12" infinite-scroll='loadclassified()' infinite-scroll-distance='1' infinite-scroll-disabled="allout || loadingtweets">
      <div class="alert-box info text-center">
        {% endraw %}
        <span>Classified Tweets ({{size}})</span>
        {% raw %}
      </div>

      <div class="row">
        <div class="columns small-12">
          <input type="search" placeholder="Type class name to filter (potitive, negative, neutral, or dummy)" autocomplete="off" ng-model="keyword">
        </div>
      </div>

      <!-- JUST SOME CLASSIFIED TWEETS -->
      <div class="row" ng-repeat="tweet in tweets | filter:keyword">
        <div class="columns hide-for-small-only medium-1 th radius">
          <img ng-src="{{ tweet.user.profile_image_url }}">
        </div>
        <div class="columns small-9 medium-8">
          <div class="user">
            <span class="name" ng-bind-html="tweet.user.name"></span>
            <a target="_blank" ng-href="http://twitter.com/{{ tweet.user.screen_name }}" class="username" ng-bind-html="'@'+tweet.user.screen_name"></a>
            <a target="_blank" ng-href="http://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str }}" class="label secondary radius" ng-bind-html="tweet.retweet_count+' retweets'"></a>
          </div>
          <div class="text">
            <p ng-bind-html="tweet.text"></p>
          </div>
        </div>
        <div class="columns small-2 medium-3 button-group radius">
          <a title="positive" class="tiny button secondary" ng-class="{'success': tweet.class == 'positive'}" ng-click="learn(tweet, 'positive')"><i class="fa fa-lg fa-thumbs-o-up"></i></a>
          <a title="negative" class="tiny button secondary" ng-class="{'success': tweet.class == 'negative'}" ng-click="learn(tweet, 'negative')"><i class="fa fa-lg fa-thumbs-o-down"></i></a>
          <a title="neutral" class="tiny button secondary" ng-class="{'success': tweet.class == 'neutral'}" ng-click="learn(tweet, 'neutral')"><i class="fa fa-lg fa-balance-scale"></i></a>
          <a title="dummy" class="tiny button secondary" ng-class="{'success': tweet.class == 'dummy'}" ng-click="learn(tweet, 'dummy')"><i class="fa fa-lg fa-hand-lizard-o"></i></a>
        </div>
        <hr>
      </div>
      <!-- END OF JUST SOME RANDOM TWEETS -->
      <div class="label secondary tiny" ng-show="loadingtweets">Loading More Classified Tweets <i class="fa fa-lg fa-cog fa-spin"></i></div>
    </div>
  </div>

  {% endraw %}

</div>

{% endblock %}