{% extends "base.html" %}
{% block titlenav %}Langgar Tweet Streamer{% endblock %}

{% block content %}

<div ng-controller="summaryController">

  <div class="row">
    <div class="large-6 small-12 columns">
      <!-- <div class="label secondary" id="message">Enter new keyword to stream.</div> -->
      <form ng-submit="submit()" class="row collapse">
        <div class="columns small-10">
          <input tabindex="1" id="autocomplete" type="search" placeholder="Search and Insert Keywords: e.g. joko widodo" autocomplete="off" ng-model="keyword" required>
        </div>
        <div class="small-2 columns">
          <button class="button secondary postfix">
            <i class="fa" ng-class="{'fa-spinner fa-spin fa-spinner':is_sending_kw,'fa-play':!is_sending_kw}"></i>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="small-block-grid-1 large-block-grid-3">

      <li ng-style="info.status=='inactive' && {'opacity': 0.6}" ng-repeat="info in summary | filter:keyword" class="slide">
        <ul class="pricing-table">
          {% raw %}
          <a ng-href="/analyze/{{ info.keyword | encodeURIComponent }}">
            <li class="title keyword" ng-bind-html="info.keyword"></li>
          </a>
          <li class="price"><i ng-show="info.processing" class="fa fa-spinner fa-spin fa-spin"></i><span ng-hide="info.processing" ng-bind-html="info.count + ' results'"></span></li>
          <!-- <li class="description"></li> -->
          <li class="bullet-item" ng-repeat="tweet in info.tweets" ng-bind-html="tweet"></li>
          <li class="cta-button">
            <button ng-disabled="info.is_streaming || info.processing" ng-click="stream(info, 'active')" ng-hide="info.status=='active'" class="button radius secondary tiny"><i class="fa fa-play"></i></button>
            <button ng-disabled="info.is_streaming || info.processing" ng-click="stream(info, 'inactive')" ng-hide="info.status=='inactive'"class="button radius secondary tiny"><i class="fa fa-pause"></i></button>
            <button ng-disabled="info.is_streaming || info.processing" ng-click="stream(info, 'removed')" class="button radius secondary tiny"><i class="fa fa-eye-slash fa-lg"></i></button>
          </li>
          {% endraw %}
        </ul>
      </li>

    </div>
  </div>

</div>

{% endblock %}