{% extends "base.html" %}
{% block title %}Twitter Streamings{% endblock %}
{% block content %}

<nav class="top-bar" data-topbar>
  <span class="name text-center">
    <h1 class="title"><i class="fa fa-twitter fa-lg"></i> Tweet Streamer</h1>
  </span>
</nav>

<hr>

<div class="row">
  <div class="large-6 small-12 columns">
    <div class="panel callout" id="message">Enter new keyword to stream.</div>
    <form class="row collapse" onsubmit="return addkeyword();">
      <div class="small-10 columns">
        <input id="keyword" type="text" placeholder="new keyword" required>
      </div>
      <div class="small-2 columns">
        <button id="plus_button" class="button secondary postfix"><i id="content_button" class="fa fa-lg fa-plus"></i></button>
      </div>
    </form>
  </div>
</div>


<div class="row">
  <div class="small-block-grid-1 medium-block-grid-3 large-block-grid-3" id="panel">
  <!-- BAGIAN INI BAKAL DIISI SAMA SAMPLE DIV -->
  </div>
</div>
   

<footer class="row">
  <hr>
  <div class="columns text-center">
    <p>Copyright <i class="fa fa-copyright"></i> <a href="http://langgar.co">langgar.co</a>.</p>
  </div>
</footer>


<!-- SAMPLE DIV -->
<li hidden id="sample" class="" data-equalizer-watch>
  <ul class="pricing-table">
    <li class="title">Jokowi</li>
    <li class="price">7876 Results</li>
    <li class="description">status: active streaming</li>
    <li class="bullet-item">tweet 1</li>
    <li class="bullet-item">tweet 2</li>
    <li class="bullet-item">tweet 3</li>
    <li class="cta-button">
      <span onclick="stream(this,1);"><a class="button radius success tiny"><i class="fa fa-play"></i></a></span>
      <span onclick="stream(this,0);"><a class="button radius secondary tiny"><i class="fa fa-pause"></i></a></span>
      <span onclick="unstream(this);"><a class="button radius alert tiny"><i class="fa fa-trash"></i></a></span>
    </li>
  </ul>
</li>

{% endblock %}



<!-- SAMPAH -->

  <!-- <div class="large-12 small-12 columns">
    <div class="row" id="panel" data-equalizer></div>

    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          <div class="row">
            <div class="large-2 small-6 columns" data-equalizer-watch>
              <img src="http://placehold.it/300x300&text=Site Owner">
            </div>
            <div class="large-10 small-6 columns" data-equalizer-watch>
              <strong>This Site Is Managed By<hr/></strong>
              Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> -->