{% extends "base.html" %}
{% block title %}Langgar Social Media Analytics{% endblock %}
{% block content %}   
 
<div ng-controller="summaryController">

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a>Langgar Social Media Analytics</a></h1>
      </li>
    </ul>
  </nav>

  {% raw %}
  <div class="row">

    <!-- SIDE BAR -->
    <div class="columns small-12 large-3">
    <!-- SERACH BOX -->
      <div class="row">
        <div class="label secondary">Enter new keyword to stream.</div>
        <form class="row collapse" ng-submit="submit()">
          <div class="small-12 columns"><input ng-model="keyword" type="text" placeholder="joko widodo" required></div>
          <!-- <div class="small-1 columns"><button ng-disabled="is_sending_kw" class="button postfix secondary"><i class="fa fa-lg" ng-class="{'fa-spinner fa-pulse fa-spin':is_sending_kw,'fa-plus':!is_sending_kw}"></i></button></div> -->
        </form>
      </div>

      <!-- SUMMARY -->
      <section class="section">
          <a ng-href="/">SUMMARY</a>
      </section>

      <section class="section" ng-repeat="k in summary | filter:keyword">
          <a class="label secondary" href="/analyze/{{k.keyword | encodeURIComponent}}" ng-bind-html="k.keyword"></a>
      </section>

    </div>
    <!-- END OF SIDE BAR -->
    
    <!-- MAIN CONTENT -->
    <div class="columns small-12 large-9">
      
    </div>
    <!-- END OF MAIN CONTENT -->

    <hr>
  </div>
  {% endraw %}

  <footer class="row">
    <div class="text-center">
      <p>Copyright <i class="fa fa-copyright"></i> <a href="http://langgar.co">langgar.co</a>.</p>
    </div>
  </footer>

</div>

{% endblock %}